.container {
    background-color: rgb(185, 142, 94);
    height: 500px;
}
.cards {
    float:left;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
    cursor: pointer;
}

.card {
    float:left;
    background-image: url("img/card.jpg");
    width: 170px;
    height: 200px; 
    margin-left: 20px;
}

.card-kopek{
    float:left;
    width: 170px;
    height: 200px;
    margin-left: 25px;
    background-image: url("img/kopek.jpg");
}
p.description {
    text-align: center;
}

h2.title {
    text-align: center;
    width: 100%;
}
 
